extends ../include/_template.pug
include ../include/_mixin

block content
    +body('action_page', 'nav1', './')
        section.action_account 
            .bg.imgDrop
                img(src="common/images/bg.png", alt="")
            .wraper
                .form_action 
                    a.logo_form(href="index.html")
                        img(src="common/images/logo.svg", alt="").imgAutp 
                    a.btn_close(href="index.html") 
                        img(src="common/images/icon/icon_close.svg", alt="")
                    form(action="") 
                        .sub2.mt-40.fz-18 Forgot your password?
                        .group.mt-20 
                            input.input(type="mail", placeholder='Email')
                        //- .group.mt-20 
                        //-     input.input.input_password(type="password", placeholder='New password')
                        //-     i.toggle-password
                        .group.mt-20
                            input.btn_acction.mt-20(type='submit', value='Send pasword link')
                        .group.mt-20.flexBox.center.midle.btn_list
                            p.text
                                a.forget_pass(href="login.html") Log in
                            p.text
                                a.forget_pass(href="singup.html") Singup
        section.footing.pt-20.pb-20 
            .wraper 
                .row 
                    .col-6 
                        address © 2021 KenNguyen. All rights reserved.
                    .col-6 
                        .row 
                            .col-4 
                                a(href="#") Privacy Policy
                            .col-4 
                                a(href="#") Privacy Policy
                            .col-4 
                                a(href="#") Privacy Policy

