<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Ken Nguyen</title>
    <meta name="description" content="test"/>
    <meta name="keywords" content="test"/>
    <meta property="og:title" content="test"/>
    <meta property="og:image" content="./common/images/banner_01.jpg"/>
    <meta property="og:site_name" content="test"/>
    <link rel="icon" href="./common/images/favicon.ico"/>
    <link rel="stylesheet" href="./common/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./common/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="./common/css/common.css"/>
    <link rel="stylesheet" href="./common/css/styles.css"/>
  </head>
  <body nav_active="nav_active"> 
    <header class="header active_search" id="header">
      <div class="header-top">
        <div class="wraper">
          <button class="navbar-toggler toggle_class" type="button" data-bs-toggle="modal" data-bs-target="#navbarSupportedContent"><span class="navbar-toggler-icon"></span></button>
        </div>
      </div>
      <div class="header-bottom">
        <div class="wraper flexBox space midle bottom"><a class="logo" href="index.html"> <img class="imgAuto" src="common/images/logo.svg" alt=""/></a>
          <div class="header-right flexBox midle end">
            <nav class="navbar navbar-expand-lg modal fade collapse" id="navbarSupportedContent" navbar-collapsetabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="header_nav">
                  <div class="nav flexBox midle space">
                    <ul class="flexBox midle">
                      <li class="nav-item active"><a class="nav-link" href="category.html">CRAFT COLECTION</a></li>
                      <li class="nav-item"><a class="nav-link" href="contact.html">CRAFT ACADEMY</a></li>
                    </ul>
                    <ul class="flexBox midle">
                      <li class="nav-item"><a class="nav-link" href="#" target="_blank">SHOP</a></li>
                      <li class="nav-item"><a class="nav-link" href="upgrade.html">UPGRADE TO DAY</a></li>
                      <li class="nav-item"><a class="nav-link" href="news.html">MY CRAFT ROOM</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="nav_setting dropdown"> 
            <div class="btn_setting dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><img src="common/images/icon/icon_setting.svg" alt=""/></div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <ul>
                <li><a class="dropdown-item" href="login.html"><i class="icon"> <img src="common/images/icon/icon_login.png" alt=""/></i>Login</a></li>
                <li><a class="dropdown-item" href="singup.html"><i class="icon"> <img src="common/images/icon/icon_signup.png" alt=""/></i>Sign up</a></li>
                <li><a class="dropdown-item" href="manager.html"><i class="icon"> <img src="common/images/icon/icon_profile.png" alt=""/></i>Profile manager</a></li>
                <li><a class="dropdown-item" href="logout.html" data-bs-toggle="modal" data-bs-target="#modal_logout"> <i class="icon"> <img src="common/images/icon/icon_logout.png" alt=""/></i>Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main> 
      <section class="category pt-50 pb-50 upgrade"> 
        <div class="wraper">
          <h1 class="ttl_main fz-40 text-up text-center">Endless Referrals. Ready? </h1>
          <div class="text text-center">Join over 25,000+ others actively finding leads and making sales with UpViral.</div>
        </div>
        <div class="content_main mt-30 pt-100 pb-100"> 
          <div class="wraper"> 
            <div class="flexBox package center">
              <div class="item_package text-center package_month">
                <div class="info_main"> 
                  <h3 class="ttl fz-31">monthly membership</h3>
                  <div class="price center midle flexBox mt-20"> 
                    <div class="new fz-45">$1</div>
                    <div class="old fz-22">$9.99</div>
                  </div>
                  <div class="fz-22 mt-10">Full Acess</div>
                  <div class="fz-20 mt-15 price_detail">After 7 days,<br>$9.99/month<br>(paid month)</div>
                  <div class="button mt-20">JOIN NOW</div>
                </div>
                <div class="info_other toggle_parent"> 
                  <div class="toggle_content"> 
                    <div class="list_detail mt-30 pt-15 pb-40">
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                    </div><a class="button mt-40" href="#">JOIN NOW</a>
                  </div>
                  <div class="toggle_btn">
                    <div class="short">Xem thêm </div>
                    <div class="long">
                       Thu gọn</div>
                  </div>
                </div>
              </div>
              <div class="item_package text-center package_year">
                <div class="info_main"> 
                  <h3 class="ttl fz-31">monthly membership</h3>
                  <div class="price center midle flexBox mt-20"> 
                    <div class="new fz-45">$1</div>
                    <div class="old fz-22">$9.99</div>
                  </div>
                  <div class="fz-22 mt-10">Full Acess</div>
                  <div class="fz-20 mt-15 price_detail">After 7 days,<br>$9.99/month<br>(paid month)</div>
                  <div class="button mt-20">JOIN NOW </div>
                </div>
                <div class="info_other toggle_parent">
                  <div class="toggle_content"> 
                    <div class="list_detail mt-30 pt-15 pb-40">
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                      <dl class="mt-20">
                        <dt>16 curated DIY projects (patterns + tutorials) </dt>
                        <dd>$160 VALUE</dd>
                      </dl>
                    </div><a class="button mt-40" href="#">JOIN NOW</a>
                  </div>
                  <div class="toggle_btn">
                    <div class="short">Xem thêm </div>
                    <div class="long">
                       Thu gọn</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="question pt-40 pb-100"> 
        <div class="wraper"> 
          <div class="flexBox">
            <div class="col-12 col-lg-6"> 
              <h2 class="ttl_main text-up fz-60">Have questions?<br>We’re here to<br>help you!</h2>
              <div class="content pt-30">
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6"> 
              <div class="content pt-100">
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
                <div class="item toggle_parent mt-50"> 
                  <div class="toggle_btn fz-24">Can I cancel at any time?</div>
                  <div class="toggle_content">
                    <div class="text">Yes. There are no contracts or hidden fees so you can cancel your monthly or yearly service at any time.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Modal-->
    <div class="modal fade" id="modal_logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="pt-30">Do you want to log out of your account?</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn_cancel" type="button" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn_more" type="button">Log out</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer pt-40 pb-30"> 
      <div class="wraper"> 
        <div class="row"> 
          <div class="col-12 col-lg-5"> 
            <div class="content_main flexBox"> 
              <div class="images"> <img class="imgAuto" src="common/images/avatar.png" alt=""/></div>
              <div class="content"> 
                <p>Lia Griffith is a designer, maker, artist, and author. Since launching her handcrafted lifestyle site with her first paper rose in 2013, Lia and her team have developed thousands of original DIY templates, SVG cut files, and tutorials to empower others who want to learn, make, and create. While paper flowers are where this journey began, Lia is most passionate about helping others find joy in crafting and reopen the door to their creative soul. She believes in changing lives one craft at a time. Join us.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="row">
                  <div class="col-12 col-md-6 toggle_parent"> 
                    <h4 class="ttl toggle_btn">ABOUT</h4>
                    <div class="toggle_content"> 
                      <ul class="list_link"> 
                        <li>OUR TEAM</li>
                        <li>CONTACT US</li>
                        <li>LEGAL</li>
                        <li>FAQ</li>
                        <li>PRESS FEATURES</li>
                        <li>PARTNERS &amp; AFILIATES</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 toggle_parent"> 
                    <h4 class="ttl toggle_btn">RESOURCES</h4>
                    <div class="toggle_content"> 
                      <ul class="list_link"> 
                        <li>PAPER FLOWER</li>
                        <li>GLOSSARY</li>
                        <li>FELT FLOWER GLOSSARY</li>
                        <li>VIDEO LIBRARY</li>
                        <li>SHOP</li>
                        <li>GIVE A GIFT</li>
                        <li>BECOME A MEMBER</li>
                        <li>MATERIAL SOURCES</li>
                        <li>FREEBIES</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <h4 class="ttl">STAY CONNECTED</h4>
                <ul class="social flexBox midle mt-20">
                  <li> <a href="#"> <img src="common/images/social_01.svg" alt=""/></a></li>
                  <li> <a href="#"> <img src="common/images/social_02.svg" alt=""/></a></li>
                  <li> <a href="#"> <img src="common/images/social_03.svg" alt=""/></a></li>
                  <li> <a href="#"> <img src="common/images/social_04.svg" alt=""/></a></li>
                  <li> <a href="#"> <img src="common/images/social_05.svg" alt=""/></a></li>
                </ul>
                <div class="text mt-20">
                  <p>Join our email list to learn about new projects, discounts, and membership perks!</p>
                </div>
                <div class="form_submit pt-20"> 
                  <form action=""> 
                    <input class="input" type="text" placeholder="Your Email Adress"/>
                    <input class="submit" type="submit" value="JOIN NOW"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="fb-root"></div>
    <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v12.0" nonce="EsXrjZVa"></script>
    <script src="./common/js/jquery.min.js"></script>
    <script src="./common/js/select_custom.js"></script>
    <script src="./common/js/jquery.matchHeight-min.js"></script>
    <script src="./common/js/owl.carousel.js"></script>
    <script src="./common/js/slick.js"></script>
    <script src="./common/js/popper.min.js"></script>
    <script src="./common/js/bootstrap.min.js"></script>
    <script src="./common/js/main.js"></script>
  </body>
</html>