.manager_member .summary{
    height: 100%;
    padding: 30px;
}

.manager_member .summary h3{
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.manager_member .summary .summary-item:not(:last-of-type){
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.manager_member .summary .text{
    font-size: 1em;
    font-weight: 600;
}

.manager_member .summary .price{
    font-size: 1em;
    float: right;
}

.manager_member .summary button{
    margin-top: 20px;
    width: 100%;
}
.payment .price  .old{
    position: relative;
}
.payment .price .old:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 40px;
    background: #c41320;
    transform: rotate(-20deg);
    top: 11px;
}

.payment_info label {
    font-size: 13px;
    margin-left: 10px;
}

.payment_info input {
    font-size: 13px;
}

.btn-2checkout {
    width: 100%;
}

.category .heading .ttl_sub {
    border-bottom: 1px solid #ccc;
    color: #585858;
    padding-bottom: 8px;
    margin-bottom: 8px
}

@media (min-width:768px) {
    .category .heading .ttl_sub {
        padding-bottom: 15px;
        margin-bottom: 15px
    }
}

.category .heading .text a,
.category .heading .text span {
    color: #c41320
}

.category .tab_category .item {
    margin: 5px 0
}

.category .tab_category .item a {
    display: block;
    font-size: 22px;
    letter-spacing: .08em;
    text-align: center;
    padding: 18px 5px 12px;
    border-radius: 3px;
    transition: all .3s
}

.category .tab_category .item a:not(:hover) {

}

.category .tab_category .item a {
    opacity: 1
}

.category .tab_category .item:nth-child(4n+1) a {
    background: #ff7890;
    color: #fff
}

.category .tab_category .item:nth-child(4n+2) a {
    background: #5e7cff;
    color: #fff
}

.category .tab_category .item:nth-child(4n+3) a {
    background: #ffd045
}

.category .tab_category .item:nth-child(4n+4) a {
    background: #52ff71
}

.category .course_main .item {
    position: relative;
    display: block;
    transition: all .2s
}

.category .course_main .item:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0;
    transition: all .2s;
    pointer-events: none;
    z-index: 1
}

.category .course_main .item .imgDrop {
    padding-top: 100%;
    border-radius: 3px
}

.category .course_main .item.block {
    pointer-events: none
}

.category .course_main .item.block:before {
    background: #b0bec9;
    opacity: .5
}

.category .course_main .item.block:after {
    position: absolute;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/icon/icon_lock.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    width: 15px;
    height: 25px
}

@media (min-width:768px) {
    .category .course_main .item.block:after {
        width: 26px;
        height: 35px
    }
    .project .item.block .images .imgDrop:before {
        width: 26px !important;
        height: 35px !important;
    }
}

.category .course_main .item:not(.block):hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .3)
}

.category .course_main .item:not(.block):hover:before {
    opacity: .1
}

.category .btn_more {
    padding: 14px 30px 10px
}

.category .btn_more span {
    line-height: 1.3em
}

.project .item.block .images .imgDrop:before {
    position: absolute;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/icon/icon_lock.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    width: 15px;
    height: 25px;
}

.project .item.block {
    pointer-events: none
}

.project .item.block .images {
    background: #b0bec9;
    opacity: .5
}

.project .item {
    position: relative;
}

.loading-overlay {
    display: none;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center;
}

.loading-overlay.is-active {
    display: flex;
}
.project .item.block {
    pointer-events: unset !important;
}
.category .course_main .item.block {
    pointer-events: unset !important;
}

.product-manager {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
